*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container * {
    text-align: center;
}