@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Fredoka One', cursive;
}

.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container * {
    text-align: center;
}

.text{
    text-transform: uppercase;
    font-size: 2rem;
}

h2{
    margin-top: 45px;
    font-size: 1.5rem;
    margin-bottom: 45px;
}

.text, h2{
    color:black;
    animation: colorchange 5s infinite alternate;
}

button{
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 8px;

}

button:hover{
    background-color: rgb(196, 196, 196);
}

button:active{
    background-color: rgb(126, 126, 126);
}

@keyframes colorchange{
    0% {
        color: #ffffff;
    }
    20% {
        color: #cccccc;
    }
    40% {
        color: #999999;
    }
    60% {
        color: #666666;
    }
    80% {
        color: #333333;
    }
    100% {
        color: #ffffff;
    }
}